* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* ------------------------------------ */
/* HEADER */

.header {
    border: 5px solid red;
}

.img-logo {
    max-width: 50px;
    max-height: 50px;
}

/* ------------------------------------ */
/* MAIN */

.main {
    border: 5px solid darkcyan;
    height: 80vh;
}

/* ------------------------------------ */
/* FOOTER */

.footer {
    border: 5px solid darkviolet;
}